<launch>
  <rosparam file="$(find mycobot_gazebo)/config/arm_controller.yaml" command="load"/>

  <include file="$(find mycobot_description)/launch/mycobot_upload.launch"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model mycobot" output="screen"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
        args="arm_controller" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>